<div class="cf" role="banner">
	<div class="site-header site-header-primary us-pos" role="navigation">
		<div class="cols-row">
			<a id="header-logo" target="_top" href="//www.expedia.com/">
				<img alt="Expedia.com" src="https://www.expedia.com/_dms/header/logo.svg?locale=en_US&siteid=1" border="0" />
			</a>
		</div>
	</div>
</div>

{{outlet}}
