{{outlet}}

<div id="main-results" class="site-content-wrap">
	<div class="site-content cols-row cf">
		{{cars-title
		id='cars-title'
		regions=model.regions
		lowestTotalPrice=filteredOfferStats.lowestTotalPricedOffer.localizedTotalPrice
		lowestPeriodPrice=filteredOfferStats.lowestPeriodPricedOffer.localizedPeriodPrice
		offerCount=filteredOffers.length
		searchResultUpdated=searchResultUpdated
		pricePeriod=displayDetails.pricePeriod
		}}
		<section class="col" role="main">
			<div id="search-results">
				<div class="cf nobullet flex-theme-light flex-listing flex-collapse">
					{{#each model as |carDetails|}}
						{{car-details car=carDetails}}
					{{/each}}
					</div>
			</div>
		</section>
	</div>
</div>

{{nav-links}}
